.small_cell {
  width: 50px;
}

th {
  text-align: center;
}

th, td {
  white-space: nowrap;
}

#selected_files {
  margin-top: 15px !important;
}

.progress_cell {
  padding: 0 !important;
  vertical-align: middle !important;

  .progress {
    border-radius: 0 !important;
  }
}